<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add database luxhome</title>
</head>
<body>
    <form method="POST">
        <input placeholder="name" type="text" name = "name" />
        <input placeholder="price" type="text" name ="price"/>
        <input placeholder="intro" type="text" name = "intro"/>
        <input placeholder="highlights" type="text" name = "highlights"/>
        <input placeholder="image1" type="text" name = "image1"/>
        <input placeholder="image2" type="text" name = "image2"/>
        <input placeholder="image3" type="text" name = "image3"/>
        <input placeholder="image4" type="text" name = "image4"/>
        <input placeholder="evaluate" type="number" name = "evaluate"/> 
        <input placeholder="address" type="text" name = "address"/>
        <input placeholder="gadgets" type="text" name ="gadgets"/>
        <input placeholder="bedroom" type="text" name ="bedroom"/>
        <input placeholder="bathroom" type="text" name ="bathroom"/>
        <input placeholder="family" type="text" name ="family"/>
        <input placeholder="utilities" type="text" name = "utilities"/>
        <input placeholder="note" type="text" name = "note"/>
        <button>Add</button>
    </form>
</body>
</html>